body {
  font-family: Verdana, sans-serif;
  margin: 0px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1F2937;
  padding-bottom: 30px;
  display: block;
  flex-direction: column;
}

.header-nav {
  margin-bottom: 40px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 75px;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  white-space: nowrap;
  gap: 20px;
}

li a {
  text-decoration: none;
  font-size: 18px;
  color: #F9FAF8;
}

.div-header {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-text {
  padding-bottom: 15px;
}

.header-text, #spider-web-img {
  max-width: 600px;
}

.header-text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.header-text p {
  font-size: 18px;
  color: #F9FAF8;
}

button {
  min-width: 100px;
  height: 30px;
  padding: 8px 16px;
  border-radius: 8px;
}

#sign-top, #shop-bottom {
  background: #3882F6;
  border: 1px solid #3882F6;
  font-size: 13px;
  font-weight: bold;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sign-top:hover, #shop-bottom:hover {
  background-color: #F9FAF8;
  color: #3882F6;
}

#spider-web-img {
  min-width: 400px;
  max-height: 375px;
  border-radius: 10px;
}

/*------------------
section information
----------------*/
.section-info {
  background-color: #F9FAF8;
  padding: 15px 0px 30px 0px;
  text-align: center;
  display: block;
  flex-direction: column;
  justify-content: center;
}

#title-info {
  font-size: 25px;
  font-weight: bold;
  color: #1F2937;
}

.container-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 50px;
}

/*
.img1 {
  order: 2;
}

.img2 {
  order: 1;
}

.img3 {
  order: 3;
}

.img4 {
  order: 4;
}
*/
.img-info {
  width: 250px;
  height: 250px;
  border: 5px solid #1F2937;
  border-radius: 10px;
}

.text {
  font-size: 16px;
  font-weight: bold;
  color: #1F2937;
}

/* Section 2 quote */
.section-quote {
  min-width: 400px;
  background-color: #E5E7EB;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

figure {
  max-width: 1200px
}

blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

figcaption {
  text-align: right;
  font-weight: bold;
  color: #1F2937;
}

/* Section 3 */
.section-sign {
  display: flex;
  justify-content: center;
}

.div-sign {
  background: #3882F6;
  margin: 60px 30px;
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

h1, p {
  font-size: 16px;
  color: #E5E7EB;
  margin: 10px;
}

#shop-bottom {
  margin-left: 20px;
  border: 1px solid #F9FAF8;
}

/* footer */
footer {
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 30px 0px;
  text-align: center;
}
